.great-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://e0.pxfuel.com/wallpapers/606/105/desktop-wallpaper-star-wars-galaxy-background-novocom-top-star-wars-hyperspace.jpg");
  }